.chat {
    /* top: 80vh;
    height: 20vh; */
    bottom: 0;
    position: fixed;
    width: 100%;
}
.chat-input-container { 
    height: 50px;
    width: 100%;
    margin-top: 5px;
    background: #fff; 
    padding: 3px;
    bottom: 0;
    position: absolute;
    width: 100%;
    border-color: #000;
    border-top-style: solid;
    border-top-width: 1px;
}
.chat-input { 
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    width: 85%;
    margin-right: .5%; 
}
.chat-button {
    width: 9%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
    margin-left: 2%;
}
.messages-container {
    bottom: 50px;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
}
.messages-list { 
    list-style-type: none;
    margin: 0;
    padding: 0; 
    text-align: left;
    margin-bottom: 10px;
}
.messages-list li { padding: 5px 10px; }
.messages-list li:nth-child(odd) { background: #eee; }