.chat {
    /* top: 80vh;
    height: 20vh; */
    bottom: 0;
    position: fixed;
    width: 100%;
    flex-direction: column;
    display: flex;
}
.chat-input-container { 
    height: 50px;
    width: 100%;
    display: flex;
    background: #3c4248; 
    padding: 3px;
    bottom: 0;
    width: 100%;
    border-color: #000;
    border-top-style: solid;
    border-top-width: 1px;
}
.chat-input { 
    border-width: 1px;
    padding: 10px;
    background: #292929;
    color: #dcdcdc;
    flex-grow: 4;
}
.chat-button {
    flex-grow: 1;
    background: #404eb3;
    color:white;
    margin-left: 5px;
    margin-right: 5px;
    border: none;
    padding: 10px;
}
.messages-container {
    flex-grow: 1;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.messages-list { 
    list-style-type: none;
    margin: 0;
    padding: 0; 
    text-align: left;
    color: #cecece;
}
.messages-list li {
    padding: 5px 10px;
    background: #545b63;
}
.messages-list li:nth-child(odd) {
    background: #616a73;
}

@media (max-width: 600px) {
    .chat-input {
        width: 80%;
    }
    .chat-button {
        width: 15%;
    }
  }